.hero-section {
  background-image: url(../images/bg-01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.text-container-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

.text-container {
  margin-left: 3rem;
  padding-bottom: 10rem;
}