header {
  display: flex;
  background-color: var(--white);
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

header img {
  margin: 2rem 0;
}

.menu-link {
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}

.menu-link .fa-solid {
  font-size: 1.3rem;
}

.cart-link {
position: relative;
}

.quantity {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  padding: .2rem .5rem;
  border-radius: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  font-size: .8rem;
  font-weight: 700;
}